/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#EEEEEE;

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:18px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.navigation {
    background: #000;
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 50px 0 0 0;
    z-index: 1000;
}

#main-navigation:target {
    width: 70%;
}

#main-navigation:target + .wrapper {
    width: 30%;
}

.wrapper {
    width: 100%;
    float: right;
}

#header {
    width: 100%;
    background: #ddd;
    height: 48px;
    z-index: 2000;
    position: fixed;
}

#header .Menu {
    margin: 10px 0 0 0;
    float: left;
}

#header .Menu img {
    width: 16px;
    height: 16px;
}

#header .brand {
    float: left;
    margin: 12px 0 0 10px;
}

.action-menu {
    float: right;
    margin: 8px 0 0 0;
}

.action-menu .item {
    display: inline-block;
    margin: 0 15px 0 0;
}

.action-menu .item img {
    height: 32px;
    width: 32px;
}

/* Portrait layout (default) */
.app {
    padding: 60px 15px 0 15px;
}

.group {
    padding: 20px 0 20px 0;
    background: #FFF;
    margin: 0 0 3px 0;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}

/* Loading spinner animation */
/*
 * Created By: Ahmed Bouhuolia
 * Twitter: http://twitter.com/abouolia
 */

.spinner-container {
    margin: 0 auto 0 auto;
    text-align: center;
}

.loading:after {
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    display: block;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 50px;

    content: "";

    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
