<a class="Menu">
	<img src="img/ic_drawer.png" />
</a>

<div class="brand">
	<a href="#/">Turf</a>
</div>

<div class="action-menu">
	<div class="item">
		<a href="#"><img src="img/ic_action_refresh.png"></a>
	</div>
	<div class="item">
		<a href="#"><img src="img/ic_action_new.png"></a>
	</div>
	<div class="item">
		<a class="Settings" data-toggle="dropdown"><img src="img/ic_action_overflow.png"></a>
		<ul class="dropdown-menu pull-right" role="menu">
			<li><a href="#/settings">Settings</a></li>
			<li class="divider"></li>
			<li><a href="#/logout">Log Out</a></li>
		</ul>
	</div>
</div>